/* font-family: 'Armata', sans-serif;
font-family: 'Carlito', sans-serif;
font-family: 'Roboto', sans-serif; */


*{
    /* margin: 0; */
    /* font-family: 'Carlito', sans-serif; */
}
.nav_icons{
    margin: 5px;
    font-size: large;
}
.HorizonHealthLogo{
    cursor:  pointer;
}



@media only screen and   (min-width:1px) and (max-width:600px) {
   .doctor_card{
    width: 90vw!important;
   }
}

@media only screen and (max-width:900px){
    .onlyForDesktop{
        /* display:  none !important; */
    }
    .appointmentForm{
        width: 90% !important;
        /* background-color: aqua !important; */
    }
    body{
        /* background-color: black !important; */
    }
    .appointmentContainer{
        justify-content: center !important;
        /* background-color: rgb(110, 6, 88) !important; */
    }
   

}